
			<div class="row">
				<main class="col-md-12">



					<!-- Start your code here -->
					<p>Hi, if you have reached up to here then I hope you are liking my efforts and as the course will pass You will start liking me more as a site.</p>
					
					<h5 id="h">About my inventor</h5>
					<p>I did not want to give all the credits to him who used already invented method to make me a less ordinary website but never the less. I will give you some details about my so called inventor.</p>
					<ul>
						<li>Name: Sarthak Vashistha</li>
						<li>SenecaID: svashistha2@myseneca.ca</li>
						<li>Program: Database Application Developer (DAD)</li>
					</ul>

					<!-- End your code here  -->



				</main>
			</div>
		