
			<div class="row">
				<main class="col-md-12">



					<!-- Start your code here -->
					<form id="form" action="/courses/add" method="POST" enctype="application/x-www-form-urlencoded">
            <fieldset>
                <br>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="courseDescription">Course Code</label>
                            <input class="form-control" id="courseCode" name="courseCode" type="text"
                                value="{{courses.courseCode}}" />
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <label for="courseDescription">Course Description</label>
                            <input class="form-control" id="courseDescription" name="courseDescription" type="text"
                                value="{{courses.courseDescription}}" />
                        </div>
                    </div>
                </div>
                <input type="submit" class="btn btn-primary float-right" value="Add Course" /><br /><br /><br />
        </form>					
					<!-- End your code here  -->
				</main>
			</div>
	