
			<div class="row">
				<main class="col-md-12">



					<!-- Start your code here -->
					<p>
						Welcome to my website, I am sarthak Vashistha's website and I am made using HTML5, CSS, express, node.js at the back end and postgress.He somehow managed to use Heroku to host me there. Hope you will like his journey of website learning.
					</p>
					<h4 id="h">About website</h4>
					<p>
						This site contains 3 static views namely home, about, and HTML Demo as well as 5 routes where I by adding those to link will get you to them. I have also worked on fetching data using javascript where if you want to fetch students by course or by student number then the site also has that functionality.
					</p>
					<h4 id="h">HTML: a brief introduction</h4>
					<p> HTML5 has been used in this site where all the static content like photos and links have been added to the site using it. It will further will be used with CSS for styling but the visible part has been creted by HTML 5.</p>
					
					
					<!-- End your code here  -->



				</main>
			</div>
		