
			<div class="row">
				<main class="col-md-12">



					<!-- Start your code here -->
					<h4 id="h">Data table having details of countries</h4>
					<br/>
					<style>
					table, th, td {
						border: 2px solid rgb(46, 22, 22);
					}
				</style>
				<table>
					<thead>
					<tr>
						<th>Country</th>
						<th>capital</th>
						<th>Language</th>
					</tr>
				</thead>
				<tbody >
					<tr class=odd-picks>
						<td>Iceland</td>
						<td>Reykjavík</td>
						<td>Icelandic</td>
					</tr>
					<tr class=odd-picks>
						<td>India</td>
						<td>New Delhi</td>
						<td>Multiple</td>
					</tr>
					<tr class=odd-picks>
						<td>France</td>
						<td>Paris</td>
						<td>French</td>
					</tr>
					<tr class=odd-picks>
						<td rowspan="2">Canada</td>
						<td rowspan="2">Ottawa</td>
						<td>English</td>
					</tr>
					<tr>
						<td>French</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="3"> The end</td>
					</tr>
				</tfoot>
				</table>
				<br/>
				<p>Various tags have been used to make this table ranging from column span to row span and details of countries have been showed in this.</p>
				<br/>
				<br/>


					<h4 id="h">List of data</h4>
					<ol>
						<li>
							<img src="./images/sarthak.jpg"
							alt ="Sarthak Vashistha">
						</li>
						<li>His Name: Sarthak Vashistha</li>
						<li>His online presence:
							<ul>
								<li>
									<a id="a" href="https://in.linkedin.com/in/sarthak-vashistha-367b6453">Linkedin</a>
								</li>
								<li>
									<a id="a" href ="https://twitter.com/sarthak3181997">Twitter</a>
								</li>
							</ul>
						</li>
						<li>the 
							<a id="a" href="https://www.senecacollege.ca/programs/fulltime/DAD.html">course</a> he is undertaking.
						</li>
						<li>chances of him getting low scores: 100%</li>
					</ol>
					<p>This part of the table has list of everything related to Sarthak Vashistha where his online presence has also been shown.</p>
					<br/>
					<br/>
					<h4 id="h">Image section</h4>
						<p><img src="https://upload.wikimedia.org/wikipedia/commons/6/69/Snowboarder_in_halfpipe.jpg"
							alt ="Snowboarder">
							First Image
						</p>
						<br/>
						<p>
							<img src="https://image.shutterstock.com/image-photo/photo-sea-turtle-galapagos-island-600w-1453313555.jpg"
							alt="turtle">
							Second Image
						</p>
						<p>
							<img src="https://image.shutterstock.com/image-photo/herd-elephants-africa-walking-through-600w-1480282913.jpg"
							alt = "Elephants">
							Third Image
						</p>
						<br/>
						<br/>
						<h4>Audio section of the page</h4>
						<audio controls>
							<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.ogg" type="audio/ogg">
							<source src ="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.mp3" type="audio/mpeg">
						</audio>
						<p>This section consists of a video which has been given to us by the professor and we added it to the website using HTML tags</p>
						<br/>
						<br/>
						<h4 id="h">Video section of the page</h4>
						<video width="480" height="360" controls>
							<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.mp4" type="video/mp4">
							<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.ogg" type="video/ogg">
						</video>
						<p>This section consists of video which has been added to the page</p>

					<!-- End your code here  -->



				</main>
			</div>
		